.articleCard {
  display: flex;
}

.articleCardLinks {
  color: var(--main-navy);
}

.articleCardLinks:hover {
  color: var(--main-orange);
  cursor: pointer;
}

.articleCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.deleteButton {
  width: 10em;
  margin: 0px;
}

.body {
  font-size: 1.25em;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1100px) {
  .articleCard {
    display: flex;
    flex-direction: column-reverse;
  }

  .body {
    font-size: 1.1em;
  }
}