.articleCard {
  display: flex;
}

.articleCardLinks {
  color: var(--main-navy);
}

.articleCardLinks:hover {
  color: var(--main-orange);
  cursor: pointer;
}

.articleCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.deleteButton {
  width: 10em;
  margin: 0px;
}

.body {
  font-size: 1.25em;
}