.articleList {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.postButton {
  margin: 10px 20px;
  font-size: 1em;
  padding: 5px;
  color: var(--main-navy);
}

.postButton:hover {
  color: var(--main-orange);
  cursor: pointer;
}
